
@charset "utf-8";
/* CSS Document */
/* * {...} để thiết kế style chung cho mọi thẻ*/
* {margin:0px; padding:0px; font-size:12px}
#container {
			width:1000px; /*nội dung trong khung là 1000 điểm ảnh*/
			margin:0px auto; /*top,bottom=0px, left,rigth=auto*/
			border:1px red solid;
			}
#header { width:100%; height:100px;
		 background:#0C0;
		  background-size:cover;}
#menu {width:100%; height:30px; background:#FC0;}
#content {
		width:100%; 
		height:auto; /*tự co dãn theo nội dung div id=left,right,center bên trong*/ 
		overflow:auto;/*do div id=left,right,center sử dụng float:left để nằm ngang*/
		}
#left {width:200px; height:auto; background:#099; float:left}
#center {width:600px; height:auto; float:left;}
/*style cho các thẻ h1 là con trực tiếp của <div id=center>..</div>*/
#center>h1 { background:#CCC; color:red; 
			margin:5px; padding:10px; border-radius:10px;
			font-size:16px;}
#right {width:200px; height:auto; background:#6C6; float:left}		
#footer {width:100%; height:80px; background:#999;}


/* CSS Document */

